/* Stylesheet to override default DataGrid styles */

.dataGridHeader{
 	border-bottom: 1px solid #000;
 	background-color: #abe07f;
 }
 .dataGridCell{
	border: none !important;
}
.dataGridEvenRow, .dataGridOddRow {
	border: 1px solid #000 !important;
	min-width: 837px;
}