.apt_generated/
gwt-unitCache/
war/fave100/
war/WEB-INF/classes/
war/WEB-INF/appengine-generated/
war/WEB-INF/deploy/
war/WEB-INF/lib/
war/apidocs/
.settings/
.factorypath
target/
.gwt/
extras/
.staging/
/test-classes
*.api
*.discovery
endpoint-libs/
src/main/java/com/fave100/client/generated/