*{
	margin: 0px;
	padding 0px;
}

html{
	height: 100%;
	margin: 0px;
	padding 0px;
}

body{
	background-color: #F9F9F9;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #454;
	height: 100%;
}

/*
::selection {
	background: #FFF;
	color: #98CB80;
}
::-moz-selection {
	background: #FFF;
	color: #98CB80;	
}*/

a{
	color: #343;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h1{
	margin: 30px;
	color: #555;
	font-size: 2em;		
}

input, select{
	padding: 4px;	
	border: 1px solid #AAA;
}

input:hover, select:hover{
	border-color: #666;
}
input:focus, select:focus{
	border-color: #5A9DE8;
}

button, .button{	
	background: #5cb7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #5cb7f7 0%, #4897d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cb7f7), color-stop(100%,#4897d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5cb7f7 0%,#4897d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5cb7f7 0%,#4897d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5cb7f7 0%,#4897d9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5cb7f7 0%,#4897d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb7f7', endColorstr='#4897d9',GradientType=0 ); /* IE6-9 */		
	font-size: 0.9em;
	border-radius: 3px;
	color: #FFF;
	border: 1px solid #2575AE;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
	padding: 6px;
	text-transform: uppercase;
	text-shadow: #777 0 1px 0;
}

button:hover, .button:hover{
	border: 1px solid #555;
	background: #5cb7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #5cb7f7 0%, #3786c8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cb7f7), color-stop(100%,#3786c8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5cb7f7 0%,#3786c8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5cb7f7 0%,#3786c8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5cb7f7 0%,#3786c8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5cb7f7 0%,#3786c8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb7f7', endColorstr='#3786c8',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	text-decoration: none;
}

button:disabled{
	color: #999;
	background: #e0e0e0; 
	border: 1px solid #AAA;
}

button:disabled:hover{
	cursor: default;
	background-color: #CCC !important;
	background: #e0e0e0 !important;
}

footer {
	position: absolute;	
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
}

.wrap {
	position: relative;		
	height: auto !important;
	min-height: 100%;	
}

.container {
	position: relative;
	margin: 0 auto;	
	height: auto !important;
	min-height: 100%;
}

@media ( min-width : 1020px ) {
	.container {
		width: 1020px;
	}
}

.content {
	position: relative;
	padding-bottom: 5em;
	overflow-y: hidden;
}

.itemHeader {
	color: #FFF;
	background: #5eaae5;
	border: 1px solid #555;
	padding: 10px;
}

.itemHeader a {
	color: #FFF;	
}

.inputStatusMessage {
	display: block;
	font-size: 0.75em;
	margin-bottom: 5px;
}

/* Standard Form */

.standardForm {
	display: block;
	background-color: #EAEAEA;
	border: 1px solid #999;
	padding: 20px;
	box-shadow: 1px 1px 5px #FFF inset;
}

.standardForm input{
	height: 23px;
	width: 290px;
	margin: 13px 0;
}

/* Fave List */


.faveList > div:first-child {	
	border-top: 2px solid #ddd;
}

.favelistWhyline:hover:empty:before {
	content: "Click here to enter a WhyLine";
	text-decoration: italics;
}

.draggedFaveListItem{
	position: absolute;
	width: 100%;
	box-shadow: 1px 1px 3px 2px #999;
}

@media ( min-width : 768px ) {
	.draggedFaveListItem {
		width: 74.5%;
	}	
}

.unselectable, .draggedFaveListItem{	
  	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}

.rankEditPanel:hover {
	border-radius: 0px;
	cursor: pointer;
}

.rankEditTextBox {
	border-radius: 0px;
	background: red;
	color: #444;
	border: 3px #444 solid;
	background-color: #fff;
	-webkit-box-shadow: 0 px 2 px 4 px #000000; /* Saf3-4 */
	-moz-box-shadow: 0 px 2 px 4 px #000000; /* FF3.5 - 3.6 */
	box-shadow: 0 px 2 px 4 px #000000;
	/* Opera 10.5, IE9, FF4+, Chrome 10+ */
	display: inline-block;
	padding: 2px 2 px 2 px 2 px;
	margin: -3px;
	font-family: arial;
	width: 62px;
	height: 60px;
	font-size: 40px;
	text-align: center;
	
}

.whyLinePanel {
	white-space: pre;
}
.whyLinePanel:hover {
	border: 3px #ddd dotted;
	width: 500px;
	cursor: pointer;
	margin: -3px;
}

.whyLineTextBox {
	margin: -3px;
}

.hide {
	display: none;
}

/* Side notification */
.sideNotification{
	position: absolute;
	background-color: #FFF;
	border: 1px solid #000;
	padding: 8px;
	font-size: 1.5em;
	max-width: 350px;
	z-index: 99999;
	color: #548F2F;	
}

/* Login container */

.loginDivider {
	display: none;
}

.fullLoginPage .loginDivider{
	display: inline-block;
	padding: 35px;
	font-size: 2em;
	text-align: center;
}


.fullLoginPage .nativeLoginBox {
	width: 100%;
}

.fullLoginPage .nativeLoginBox, .fullLoginPage .thirdPartyLoginBox {
	background-color: #EEE;
	border: 1px solid #AAA;
	padding: 20px;
	border-radius: 5px;
}
		
.fullLoginPage .nativeLoginBox input {
	float: right;
	min-width: 60%;	
}

/* Login light box */

.loginLightBox {
	background: #FFF;
	border: 1px solid #555;
}

.loginLightBox .thirdPartyLoginBox a {
	margin: 5px 0;
	font-size: 80%;
}

.loginLightBox input {
	margin: 7px 0;
	width: 100%;
}

.loginLightBox .nativeLoginBox {
	float: left;
}

.loginLightBox .thirdPartyLoginBox {
	float: right;
}

.lightBoxBackground { 
	position: fixed;
	top: 0;
	left: -25%;
	width: 125%;
	height: 100%;
	opacity: .40;
	background-color: #000;
	z-index: 99999; 
}

.loginLightBox { 
	position: fixed;
	top: 20%;
	left: 3%;
	width: 94%;
	z-index: 100000;
}

@media ( min-width : 1025px ) {
	.loginLightBox {
		left: 15%;
		width: 70%;
	}
}

.lightBoxHeader {
	display: block;
	background-color: #5eaae5;
	padding: 6px 0;
	border-bottom: 1px solid #555;
}

.lightBoxHeader img {
	display: block;
	margin: 0 auto;
}

.innerLoginBox {	
	padding: 15px;
}





.profileForm {
	width: 300px;
	margin: 0 auto;
	float: none;
}

.selected{
	background: #EFEFEF;
	border-radius: 6px;
	border: 1px solid #777;
	box-shadow: 1px 1px 2px #AAA;
}

.error{
	color: #D54545;
}
.errorInput:not(:focus){
	border: 1px solid #D54545; 
}

.invisiSpan {
	visibility: hidden;
}