/* Add css rules here for your application. */
html, *{
	margin: 0px;
	padding 0px;
}
body{
	background-color: #7C7;
	font-family: Helvetica,sans-serif;
	color: #464;
}

a{
	color: #484;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}