html, *{
	margin: 0px;
	padding 0px;
}
body{
	background-color: #abe07f;
	font-family: Helvetica,sans-serif;
	color: #454;
}

a{
	color: #484;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h1{
	margin: 30px;
	text-align: center;
	color: #FFF;
	font-size: 2em;
	text-shadow: -1px -1px 0 #555,
				0px -1px 0 #555,
				1px -1px 0 #555,
				1px 0 0 #555,
				1px 1px 0 #555,
				0 1px 0 #555,
				-1px 1px 0 #555,
				-1px 0 0 #555;				
}

.error{
	color: #D00;
}

/* Suggest Box */
.gwt-SuggestBox {
	display: block;
	margin: 0px auto;
	width: 500px;
	height: 50px;	
	font-size: 2em;
	border: 3px solid #777;
	padding: 7px;
	color: #AAA;
}
.gwt-SuggestBox:focus {
	color: #555;
	border: 3px solid #BBB;
}
.gwt-SuggestBoxPopup table{
	border: 1px solid #777;
	border-collapse: collapse;
	box-shadow: 1px 2px 2px #888;
}
.item{
	margin: 0px auto;
	background-color: #FFF;
	font-size: 1.3em;
	width: 501px;
	white-space: normal !important;
	overflow: hidden;
	padding: 7px;
}
.item span{
	float:left;
}
.item-selected{
	background-color: #AE7;
}
.artistName{
	font-size: 0.6em;
	font-style: italic;
}

/* Fave List Data Grid */
.faveList tr:nth-child(even) {
	background-color: #FFF !important;
}
.faveList tr:nth-child(odd) {
	background-color: #EEE !important;
}
/*.titleColumn, .faveList th:nth-child(1){
	width: 290px;
}
.artistColumn, .faveList th:nth-child(2){
	width: 200px
}
.yearColumn, .faveList th:nth-child(3){
	width: 40px;
}
.deleteColumn{
	width: 70px;
}*/
.dragHandlerColumn{
	cursor: move;
}
.draggedFaveListItem{
	position: absolute;
}
.unselectable{	
  	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}