@def PRIMARY_COLOR #80AAE1;
@def HIGHLIGHT_COLOR #959595;
@def TOP_NAV_COLOR #6B849C;
@def LIST_HIGHLIGHT_COLOR #80AAE1;
@def SIDE_BAR_WIDTH 239px;
@def FADED_LIGHT_BG #f1f1f1;
@def MAIN_BACKGROUND #fefefe;
@def RESIZE_TRANSITION_TIME 0.6s;
@def LIGHT_BORDER 1px solid #ccc;


@defmixin flexbox() {
	/* @alternate */ display: -webkit-box;
	/* @alternate */ display: -moz-box;
  	/* @alternate */ display: -ms-flexbox;
  	/* @alternate */ display: -webkit-flex;
  	display: flex;
}

@defmixin justify-content(VALUE) {
	-webkit-justify-content: VALUE;
	-moz-justify-content: VALUE;
	-ms-justify-content: VALUE;
	justify-content: VALUE;
}

@defmixin align-items(VALUE) {
	-webkit-align-items: VALUE;
	-moz-align-items: VALUE;
	-ms-align-items: VALUE;
	align-items: VALUE;
}

@defmixin flex-grow(VALUE) {
	-webkit-flex-grow: VALUE;
	-moz-flex-grow: VALUE;
	-ms-flex-grows: VALUE;
	flex-grow: VALUE;
}

@defmixin full-width-dark-bg() {	
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: .40;
	background-color: #000;
}

@defmixin transition(ARGS) {
	transition: ARGS;
	-webkit-transition: ARGS;
}

@external smallDisplay;
@external mediumDisplay;
@external largeDisplay;
@external playlistVisible;
@external fa;
@external disabled;

::selection {
  	background: PRIMARY_COLOR;
  	color: #fff;
}

::-moz-selection {
  	background: PRIMARY_COLOR;
  	color: #fff;
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: MAIN_BACKGROUND;
	font-family: "Arimo", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 15px;
	color: #666;
	height: 100%;
}

a {
	color: PRIMARY_COLOR;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	color: #555;
	font-weight: normal;	
}

input[type=text],
input[type=password],
input[type=search],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
select {
	padding: 4px;	
	border: 1px solid #888;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=url]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=email]:hover,
select:hover {
	border-color: #555;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=email]:focus,
select:focus {
	border-color: PRIMARY_COLOR;
}

.paddedMainPage {
	padding: 15px;	
}

.error {
	color: #D54545 !important;
}

.unselectable {
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.disabled {
}