@def PRIMARY_COLOR #504E57;
@def HIGHLIGHT_COLOR #D9A927;
@def LIST_HIGHLIGHT_COLOR #E35F6C;
@def SIDE_BAR_WIDTH 239px;
@def FADED_LIGHT_BG #f1f1f1;
@def MAIN_BACKGROUND #FaFaFa;
@def RESIZE_TRANSITION_TIME 0.6s;

@defmixin flexbox() {
	/* @alternate */ display: -webkit-box;
	/* @alternate */ display: -moz-box;
  	/* @alternate */ display: -ms-flexbox;
  	/* @alternate */ display: -webkit-flex;
  	display: flex;
}

@external smallDisplay;
@external mediumDisplay;
@external largeDisplay;
@external fa;
@external disabled;

::selection {
  	background: HIGHLIGHT_COLOR;
  	color: #fff;
}

::-moz-selection {
  	background: HIGHLIGHT_COLOR;
  	color: #fff;
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: MAIN_BACKGROUND;
	font-family: "Arimo", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: PRIMARY_COLOR;
	height: 100%;
}

a {
	color: PRIMARY_COLOR;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

input[type=text],
input[type=password],
input[type=search],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
select {
	padding: 6px;	
	border: 1px solid #888;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=url]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=email]:hover,
select:hover {
	border-color: #333;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=email]:focus,
select:focus {
	border-color: HIGHLIGHT_COLOR;
}

.paddedMainPage {
	padding: 15px;	
}

.error {
	color: #D54545 !important;
}

.unselectable {
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.disabled {
}